header{
    height: 24.5vh;
    width: 100vw;
    background: linear-gradient(#6972B3, #a4b9e0)
    
    
}
.header-images{
    display: flex;
    justify-content: space-between;
   
}
.poke-img{
    height: 40vh;
    z-index: 1;
}
.input-logo{
    height: 20vh;
    width: 30vw;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "logo"
    "input";
    gap: 2vh;
    padding-top: 2vh;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.bttn{
    justify-self: center;
    width: 30%;
    font-family: 'Press Start 2P';
    font-weight: 800;
    font-size:clamp(4px, 3vw, 15px);
    border-radius: 10px;
    color: #222;
    background-color: #d3d0cb;
    box-shadow: -2px 3px 0 #222;
    transition: all .7s;
}

.bttn:hover{
    background-color: #ec5151;
    color: #fff;
    transform: scale(1.1);
}

.logo-img{
    grid-area: logo;
    align-self: center;
    justify-self: center;
    height: 10vh;
    cursor: pointer;
}
.input-pokemon{
    grid-area: input;
    align-self: center;
    justify-self: center;
    height: 40%;
    width: 15vw;
    border-radius: 10px;
}
#placeholder-poke::placeholder{
    font-family: 'Work Sans', 'sans-serif';
    font-style: bold;
}
@media(max-width:640px){
    .header-images{
        width: 90vw;
    }
    .input-logo{
        width: 91vw;
        margin-left: 7vw;
    }
    .poke-img{
        display: none;
    }
}